html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #2F3136;
  color: #FFF;
}

.post {
  border-style: solid;
  border-color: #4F545C;
  margin-bottom: 2em;
}

.home-message {
  margin-top: 3em;
  margin-bottom: 3em;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.post h1 {
  font-size: 3em;
  margin-left: 0.6em;
}

.post p {
  margin-right: 2em;
  margin-left: 2em;
  font-size: 1em;
  margin-bottom: 2em;
}

.navbar-brand {
  font-size: 1.2em;
}

.navbar {
    background-color: #4F545C;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: 5px;
}
.navbar-nav a {
    color: #FFF;
    text-decoration-color: #2F3136;
}

.navbar-nav  li a:hover {
  background-color: #FFF;
    color: #2F3136 !important;
}
input {
  color: black;
}
textarea {
  color: black;
}

.btn {
  margin-bottom: 3em;
}

.compose-link {
  margin-top: 1em;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #4F545C;
}

.footer p {
	margin-top: 1.5em;
	font-size: 1em;
  color: #FFF;
}
